.td-medical-question {
  &-tabs {
    min-height: 160px;
  }

  &-navigation {
    display: flex;
    justify-content: center;
  
    button {
      margin: 20px 2%;
    }
  }

  &-score {
    display: inline-flex;
    flex-direction: column;
  
    &-remark {
      display: flex;
      justify-content: space-between;
    }
  }

  &-checkbox {
    &-option {
      display: flex;
      align-items: center;
      margin-bottom: 4px;

      & > span {
        white-space: nowrap;
      }

      &-text {
        text-decoration: underline;
      }
    }
  }

  &-radio {
    &-option {
      display: flex;
      align-items: center;
      margin-bottom: 4px;

      & > label {
        white-space: nowrap;
      }

      &-text {
        font-size: 14px;
        text-decoration: underline;
      }
    }
  }

  &-form {
    &-item {
      display: flex;
      margin-bottom: 24px;

      &-label {
        line-height: 32px;
        white-space: nowrap;
      }

      &-content {
        flex: auto;
      }
    }

    &-type {
      &-text {
        display: inline-block;
        padding: 5px 0;
      }

      &-compete {
        &-table {
          .ant-table-thead > tr > th {
            padding: 8px;
          }

          .ant-table-tbody > tr > td {
            padding: 0;
          }

          .ant-upload-list-picture-card-container,
          .ant-upload.ant-upload-select-picture-card {
            width: 50px;
            height: 50px;
            margin: 4px;
          }

          .ant-upload-list-picture-card .ant-upload-list-item {
            padding: 4px;
          }
        }

        &-footer {
          margin: 16px 0 24px;
        }
      }
    }
  }
}
