.td-medical-editor-container {
  display: flex;
  position: relative;
  box-sizing: border-box;
  min-height: 50vh;
}

.td-medical-editor-left, .td-medical-editor-middle, .right {
  flex: 1;
}

// 中间模板
.middle {
  border-left: 1px solid #ebedf1;
  border-right: 1px solid #ebedf1;
}
